{{ define "css" }}
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/programs.css">
{{ end }}

{{ define "main" }}

<nav class="navbar has-shadow is-sticky" role="navigation" aria-label="specialists navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/" id="logo">
      {{ .Site.Title }}
    </a>
  </div>
  <div class="navbar-menu is-active">
  {{ range .Params.nav }}
    <a class="navbar-item" href="{{ .url }}">{{ .label }}</a>
  {{ end }}
  </div>
</nav>

<section class="section" id="programs-list">
    <h2 class="title is-1">{{ .Title }}</h2>
    {{ range .Params.groups }}
      <h2 class="title is-3" id="{{ .slug }}">{{ .name }}</h2>
      <div class="columns is-multiline program-group program-group-{{ .color }}">
        {{ range .sections }}
          <div id="{{ .url }}" class="column is-one-sixth">
            <a class="card is-block" href="{{ .url }}">
              <div class="card-image">
                <figure class="image is-3by4 program-card-glass">
                  <img src="{{ .url }}/{{ .photo }}" alt="{{ .name }}">
                </figure>
              </div>
              <div class="card-content">
                <p class="title is-6 has-text-white has-text-centered">{{ .name }}</p>
                {{ with .description }}
                <p class="card-description has-text-white has-text-centered">{{ . }}</p>
                {{ end }}
              </div>
            </a>
          </div>
        {{ end }}
      </div>
    {{ end }}
  
</section>

{{ end }}
